header{
    display: grid;
    place-content: center;
    height: 100vh;
}

h1{
    display: flex;
    flex-direction:row ;
    justify-content: center;
   
    font-size: 7rem;
    text-transform : uppercase; 
    font-family: "Bebas Neue";
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    line-height: 5.9rem;
}

.char{
   
    transform: scale(0.0001);
    transition: transform .5s;
    
}
.star{
    transform: scale(0.0001);
    padding-bottom: 10px;
}
.lower-border{
    height: 10px;
    background-color: black;
    width: 0%;
}