@use '../../index.css';
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.body {
	height: 100dvh;
	display: flex;
	justify-content: center;
	align-items: center;

	.magnetButton {
		background-color: black;
		height: 100px;
		width: 100px;
		color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		cursor: pointer;
		z-index: 0;
		overflow: hidden;

		p {
			z-index: 5;
		}
	}

}
