.p-innerText{

    font-size: 5rem;
    text-align: center;
    color: gray;
    margin: 0;
    line-height: 0;
    font-family: "Bebas Neue";
    
   
    
    
}

.container-innerText{
    background-color: rgb(224, 223, 223);
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    place-content: center;
    height: 100vh;

    
}
h1{
    font-size: 5rem;
    line-height: 0;
    font-family: "Bebas Neue";
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    line-height: 5rem;
}